<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="content">

        {{>header}}
        <p>This site was created by Marek T.<br>It uses data from <i>mapbox.com</i> and <i>weatherstack.com</i></p>
        <img class="portrait" src="/images/MT.png" alt="">


    </div>
    {{>footer}}
</body>

</html>