<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="content">

        {{>header}}
        <img class="portrait" src="/images/MT.png" alt="">


    </div>
    {{>footer}}
</body>

</html>